{{#each model as |column|}}
  <div class="KanbanColumn">
    <div class="KanbanColumn-name">
      {{column.name}}
    </div>
    <div class="KanbanColumn-cards" data-id={{column.id}}>
      {{#each column.sortedKanbanCards as |card|}}
        <div class="KanbanCard" data-id={{card.id}}>
          <div class="KanbanCard-title">
            {{card.title}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
{{outlet}}
